@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Saira', sans-serif; */

/* ---------- ОБНУЛЕНИЕ ---------- */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Saira', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

ul,
li,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/* __________ ОБНУЛЕНИЕ __________ */

.section {
    /* Блок занимает всю ширину и высоту страницы */
    width: 100%; height: 100%;

    /* Блок удаляется из нормального потока и не влияет на свое окружение.
       Также определяется явное смещение относительно его содержащего блока */
    position: absolute;

    /* Блок ведет себя как блочный и выстраивает содержимые элементы согласно флекс-модели*/
    display: flex;

    /* Элементы размещаются по центру одной линии и по центру флекс-осей */
    align-items: center;
    justify-content: center;

    /* Фон-градиент */
    background: rgba(105,253,255,1);
    background: -moz-linear-gradient(-45deg, rgba(105,253,255,1) 0%, rgba(13,112,145,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(105,253,255,1)), color-stop(100%, rgba(13,112,145,1)));
    background: -webkit-linear-gradient(-45deg, rgba(105,253,255,1) 0%, rgba(13,112,145,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(105,253,255,1) 0%, rgba(13,112,145,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(105,253,255,1) 0%, rgba(13,112,145,1) 100%);
    background: linear-gradient(135deg, rgba(105,253,255,1) 0%, rgba(13,112,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69fdff', endColorstr='#0d7091', GradientType=1 );

}

/* ---------- КНОПКА ---------- */

.menu-btn {

    /* Относительно позиционированный блок создает новый содержащий блок
    для абсолютно позиционированных блоков-потомков */
    position: relative;

    /* Ссылка становится из строчного элемента в блочный, чтобы задавать размеры */
    display: block;

    /* Размеры, скругление углов и цвет фона */
    width: 200px; height: 200px;
    border-radius: 100%;
    background-color: #fff;

    /* Все дочерние элементы, выходящие за пределы данного блока,
    скрываются */
    overflow: hidden;
}

span {
    /* Блок удаляется из нормального потока и не влияет на свое окружение.
       Также определяется явное смещение относительно его содержащего блока */
    position: absolute;

    /* Строчный элемент становится блочным, чтобы задавать размеры */
    display: block;

    /* Размеры блока */
    width: 100px; height: 10px;

    /* Смещения абсолютно позиционированного элемента для того, чтобы
    выравнить его ровно по центру */
    top: 50%; margin-top: -5px;
    right: 50%; margin-right: -50px;

    /* Цвет фона */
    background-color: #000;

    /* Скругление углов */
    border-radius: 5px;
}

span::before,
span::after {
    content: "";

    /* Блок удаляется из нормального потока и не влияет на свое окружение.
       Также определяется явное смещение относительно его содержащего блока */
    position: absolute;

    /* Строчный элемент становится блочным, чтобы задавать размеры */
    display: block;

    /* Размеры блока */
    width: 100px; height: 10px;

    /* Смещения абсолютно позиционированного элемента для того, чтобы
    выравнить его ровно по центру */
    top: 50%; margin-top: -5px;
    right: 50%; margin-right: -50px;

    /* Цвет фона */
    background-color: #000;

    /* Скругление углов */
    border-radius: 5px;

    /* Плавность трансформаций */
    transition: all 0.5s ease;

}

span::before {
    /* Смещение псевдоэлемента ДО на -25px по оси Y */
    transform: translateY(-25px);
}

span::after {
    /* Смещение псевдоэлемента ПОСЛЕ на 25px по оси Y */
    transform: translateY(25px);
}

.click span {
    /* Высота элемента становится нулевой, тем самым элемент скрывается */
    height: 0;
}

.click span::before {
    /* Псевдоэлемент поворачивается на 45 градусов */
    transform: rotate(45deg);
}

.click span::after {
    /* Псевдоэлемент поворачивается на 45 градусов */
    transform: rotate(-45deg);
}

/* __________ КНОПКА __________ */

/* ---------- ИКОНКИ ---------- */

.menu-block {

    /* Относительно позиционированный блок создает новый содержащий блок
    для абсолютно позиционированных блоков-потомков */
    position: relative;
}

.menu-btn {
    
    /* Кнопка расположится выше по оси Z, чем ссылки-иконки */
    z-index: 5;
}

.menu-nav a {

    /* Блок удаляется из нормального потока и не влияет на свое окружение.
       Также определяется явное смещение относительно его содержащего блока */
    position: absolute;

    /* Ссылки будут вести себя как блочные элементы и
    выкладывать содержимое согласно флекс-модели */
    display: flex;

    /* Равнивание по центру линии и центру флекс-осей */
    align-items: center;
    justify-content: center;

    /* Цвет иконок и фона */
    color: rgb(0, 0, 0);
    background-color: #fff;

    /* Размеры */
    width: 70px; height: 70px;

    /* Скругление углов */
    border-radius: 100%;

    /* Размещение ссылок по центру родительского блока и относительно него 
    Минусовать половину ширину или высоты блока */
    left: calc(50% - 35px);
    top: calc(50% - 35px);  

    /* Ссылки располажатся по оси Z глубже, чем кнопка меню-бургер */
    z-index: 0;

    /* Плавность трансформаций */
    transition: all 0.3s ease;
}

/* ---------- ДВИЖЕНИЕ КНОПОК ---------- */

/* Выбрать первую ССЫЛКУ, которая является потомком элемента с классом .menu-nav */
.menu-nav a:nth-of-type(1) {
   transition-delay: 0.1s; 
}
/* Выбрать вторую ССЫЛКУ, которая является потомком элемента с классом .menu-nav */
.menu-nav a:nth-of-type(2) {
    transition-delay: 0.3s;  
}
/* Выбрать третью ССЫЛКУ, которая является потомком элемента с классом .menu-nav */
.menu-nav a:nth-of-type(3) {
    transition-delay: 0.5s; 
}
/* Выбрать четвертую ССЫЛКУ, которая является потомком элемента с классом .menu-nav */
.menu-nav a:nth-of-type(4) {
    transition-delay: 0.7s;
}
/* Выбрать пятую ССЫЛКУ, которая является потомком элемента с классом .menu-nav */
.menu-nav a:nth-of-type(5) {
    transition-delay: 0.9s;
}
/* Выбрать шестую ССЫЛКУ, которая является потомком элемента с классом .menu-nav */
.menu-nav a:nth-of-type(6) {
    transition-delay: 1.1s;
}
/* Выбрать седьмую ССЫЛКУ, которая является потомком элемента с классом .menu-nav */
.menu-nav a:nth-of-type(7) {
    transition-delay: 1.3s;
}
/* Выбрать восьмую ССЫЛКУ, которая является потомком элемента с классом .menu-nav */
.menu-nav a:nth-of-type(8) {
    transition-delay: 1.5s;
}

/* __________ ДВИЖЕНИЕ КНОПОК __________ */


/* ---------- ЗАДЕРЖКА ДВИЖЕНИЯ КНОПОК ---------- */

/* Выбрать первую по счету ССЫЛКУ, которая является потомком элемента с классом .active */
.active a:nth-of-type(1) {
    transform: translate(220%, 0%);
}
/* Выбрать вторую по счету ССЫЛКУ, которая является потомком элемента с классом .active */
.active a:nth-of-type(2) {
    transform: translate(160%, 160%);
}
/* Выбрать третью по счету ССЫЛКУ, которая является потомком элемента с классом .active */
.active a:nth-of-type(3) {
    transform: translate(0%, 220%);
}
/* Выбрать четвертую по счету ССЫЛКУ, которая является потомком элемента с классом .active */
.active a:nth-of-type(4) {
    transform: translate(-160%, 160%);
}
/* Выбрать пятую по счету ССЫЛКУ, которая является потомком элемента с классом .active */
.active a:nth-of-type(5) {
    transform: translate(-220%, 0%);
}
/* Выбрать шестую по счету ССЫЛКУ, которая является потомком элемента с классом .active */
.active a:nth-of-type(6) {
    transform: translate(-160%, -160%);
}
/* Выбрать седьмую по счету ССЫЛКУ, которая является потомком элемента с классом .active */
.active a:nth-of-type(7) {
    transform: translate(0%, -220%);
}
/* Выбрать восьмую по счету ССЫЛКУ, которая является потомком элемента с классом .active */
.active a:nth-of-type(8) {
    transform: translate(160%, -160%);
}

/* ___________ ЗАДЕРЖКА ДВИЖЕНИЯ КНОПОК __________ */

/* __________ ИКОНКИ __________ */